.profile__button-edit {
    background-color: #000000;
    background-image: url(../../../images/pen.svg);
    background-repeat: no-repeat;
    background-position: center;
    color: inherit;
    cursor: pointer;
    max-width: 24px;
    height: 24px;
    border: 1px solid #FFFFFF;
    margin-top: 15px;
    transition: opacity .2s linear;
}

@media screen and (max-width: 779.98px) {
    .profile__button-edit {
        width: 18px;
        height: 18px;
        margin-top: 8px;
    }
}

.profile__button-edit:hover {
    opacity: .6;
}
