.profile {
    margin: 40px auto 0;
    display: flex;
    max-width: 880px;
    min-width: 282px;
    flex-wrap: wrap;
    justify-content: space-between;
}


@media screen and (max-width: 779.98px) {
    .profile  {
        flex-direction: column;
    }
}