.header {
    display: block;
    max-width: 880px;
    border-bottom: 1px solid rgb(84, 84, 84, .7);
    margin: 45px auto 0;
    padding-bottom: 41px;
}

@media screen and (max-width: 779.98px) {
    .header {
        padding-bottom: 31px;
        margin-top: 28px;
    }
}