.footer__title {
    color: #545454;
    margin: 0;
    font-size: 18px;
    line-height: 21.78px;
    font-weight: 400;
}

@media screen and (max-width: 779.98px) {
    .footer__title {
        font-size: 14px;
        line-height: 16.94px;
    }
}