.card__button-like {
    border: 0;
    cursor: pointer;
    padding: 0;
    background-image: url(../../../images/like.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: inherit;
    min-width: 22px;
    transition: opacity .2s linear;
 }

.card__button-like:hover {
    opacity: .5;
}