.profile__info {
    margin: 22px 0 25px 0;
    display: flex;
    flex-wrap: wrap;
    max-width: 340px;
}

@media screen and (max-width: 779.98px) {
    .profile__info {
        margin: 26px auto 36px;
        justify-content: center;
    }
}